<!DOCTYPE html>
<html lang="en">
{% include 'layout/head.html' %}

<body id="call">
    {% include 'layout/navbar.html' %}
    {% include 'layout/headerHalf.html' %}
    
    <section id="contact" class="no-top-padding no-right-padding no-bottom-padding no-bottom-margin black-bg laptop-bg ">
        <div class="black-bg-transparent ">
            <div class="no-top-margin no-right-margin no-bottom-margin no-left-margin container">

                <div class="no-bottom-margin text-center  ">
                    <div class="col-sm-12 col-md-2">
                    </div>
                    <div class="padding-all right-padding top-padding bottom-padding col-sm-12 col-md-5 text-left">
                        <!--h3>Hubungi Kami</h3-->
                        <p class="text-left bold white-text">
                            Jangan ragu-ragu untuk menghubungi kami!
                        </p>
                        <div class="status alert alert-success" style="display: none"></div>
                        <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="white-text yellow-outlined rounded form-control" required="required" placeholder="Nama">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="white-text yellow-outlined rounded form-control" required="required" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <textarea name="message" id="message" required="required" class="white-text yellow-outlined rounded form-control" rows="11" placeholder="Pesan"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <a type="submit" class="margin-all-narrow login red-bg-2 btn btn-primary btn-xl ">Kirim Pesan <i class="left-margin-small fa fa-envelope-o"></i> </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div><!--/.col-sm-6-->

                    <div class=" col-sm-12 col-md-5 top-padding-large  top-margin text-right">
                        <div class=" no-radius white-text">
                
                             <!--iframe
                              width="600"
                              height="450"
                              frameborder="0" style="border:0"
                              src="https://www.google.com/maps/embed/v1/place?key=API_KEY
                                &q=Space+Needle,Seattle+WA" allowfullscreen>
                            </iframe-->
                            <address>
                                <strong><h3>PT. Bisa Belajar Edukasi Media </h3></strong>
                                <h4> Alamat Bisa Belajar <i class="big-icon fa fa-map-marker"></i> </h4>                          
                                <abbr title="Phone"></abbr><h4> 0857 - 25778315 <i class="big-icon fa fa-mobile"></i> </h4>
                                <h4> admin@bisabelajar.com <i class="small-icon fa fa-envelope-o"></i></h4>
                            </address>
    
                        </div>
             
                    </div><!--/.col-sm-6-->
                </div><!--/.row-->

            </div><!--/.container-->
        </div>
    </section><!--/#contact-->
    
    {% include 'layout/quote.html' %}
    {% include 'layout/footer.html' %}
    {% include 'layout/foot.html' %}
</body>
</html>
