<div id="tentangKami" class="tab-pane active">
{% include 'pages/about/layout/tabSwitch.html' %}
<section>

    <div class="container">
        <div class="row text-center">

          <h4 class="section-heading">Tentang BisaBelajar</h4>
          <hr class="primary">
                
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">

                        <p class="paragraph" >
                          <img align="left" class="right-margin bottom-margin-narrow img-responsive" src="/static/img/logo.png"/>
                       
                          {% include 'dummies/contents/tentang/tentang-kami.txt' %}
                        </p>
           
             

                    
            </div>

        </div>
    </div> 
   
</section>

<section id="valueKami" class="grey-bg">
    <div class="container">
        <div class="row text-center">



          <div class="col-sm-12 col-md-12">
                <div class="col-sm-12 col-md-3">
                    <img class="value-icon" src="/static/img/mm-icon.png">
                    <h4 class="top-margin-narrow bottom-margin-narrow font-green bold">Materi Melimpah</h4>
                    <p>Kami memiliki sumber materi pelajaran yang melimpah ruah</p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <img class="value-icon" src="/static/img/vm-icon.png">
                    <h4 class="top-margin-narrow bottom-margin-narrow font-green bold">Video Menarik</h4>
                    <p>Dengan Konsep Video yang menarik, belajar pun lebih menyenangkan!</p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <img class="value-icon" src="/static/img/ls-icon.png">
                    <h4 class="top-margin-narrow bottom-margin-narrow font-green bold">Latihan Soal</h4>
                    <p>Latihan soal di setiap bab membuat kamu semakin memahami materi pelajaran</p>
                </div>
                <div class="col-sm-12 col-md-3">
                    <img class="value-icon" src="/static/img/gr-icon.png">
                    <h4 class="top-margin-narrow bottom-margin-narrow font-green bold">Gratis</h4>
                    <p>Ya, kamu bisa mendapatkan semua itu secara cuma-cuma</p>
                </div>
          </div>
                
        </div>

        </div>
 
   
</section>

<section id="compro" class="black-bg class-bg">
  <div class="container">
    <div class="row text-center">
        <iframe allow-fullscreen="true" width="720" height="360" src="https://www.youtube.com/embed/syBv25_aozo" frameborder="0" allowfullscreen>
            
        </iframe>
    </div>
   </div>
</section>
</div>