<div id="timKami" class="tab-pane">

{% include 'pages/about/layout/tabSwitch.html' %}
<section>
    <div class="container">
        <div class="row text-center">

          <h4 class="section-heading">Tim Kami</h4>
          <hr class="primary">
                
        </div>

        <div class="row text-center">
            <div class="col-sm-12 col-md-12">
                    
                    <div class="col-sm-12 col-md-4">

                        <div class="photo-container">
                            <img class="" src="/static/img/photos/dikry.jpg"/>
                        </div>
                        <br>
                        <a href="#"><i class="fade-away fa fa-facebook fb social-icon"></i></a>
                        <a href="#"><i class="fade-away fa fa-twitter twitter social-icon"></i></a>
                        <h4 class="top-border-narrow bottom-border-narrow font-green bold">Dikry Paren   <yellow>CEO</yellow></h4>
                        <p>
                        An <bold>idealist</bold>, passionate in social activity, currently enrolled as a
                        student of Islamic Business, Universitas Indonesia
                        </p>
                
                    </div>

                    <div class="col-sm-12 col-md-4">

                        <div class="photo-container">
                            <img class="" src="/static/img/photos/gandra.jpg"/>
                        </div>
                        <br>
                        <a href="#"><i class="fade-away fa fa-facebook fb social-icon"></i></a>
                        <a href="#"><i class="fade-away fa fa-twitter twitter social-icon"></i></a>
                        <h4 class="top-border-narrow bottom-border-narrow font-green bold">Gandra Braino   <yellow>CFO</yellow></h4>
                        <p>
                        A <bold> Revolutionarist </bold>, an accounting graduate of Universitas Indonesia with 
                        experience as an auditor and financial consultant. 
                        </p>
                
                    </div>

                    <div class="col-sm-12 col-md-4">

                        <div class="photo-container">
                            <img class="" src="/static/img/photos/azka.jpg"/>
                        </div>
                        <br>
                        <a href="#"><i class="fade-away fa fa-facebook fb social-icon"></i></a>
                        <a href="#"><i class="fade-away fa fa-twitter twitter social-icon"></i></a>
                        <h4 class="top-border-narrow bottom-border-narrow font-green bold">Azka Nurun Ala   <yellow>CTO</yellow></h4>
                        <p>
                        An <bold>Innovator</bold>,  
                        a quick learner who loves novelty and challenges, also a student of 
                        Faculty of Computer Science, Universitas Indonesia.
                        </p>
                
                    </div>



           
             

                    
            </div>

        </div>
    </div> 
   
</section>

<section id="kontributor" class="grey-bg  ">
    <div class="container">

        <div class="row text-center">

          <h4 class="section-heading">Kontributor</h4>
          <hr class="primary">
                
        </div>

        <div class="row text-center">



          <div class="col-sm-12 col-md-12 text-center">

                <div class="row bottom-margin-narrow">
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/001/img.jpg" >
                        <h4 class="font-green bold"> {% include 'dummies/contributor/001/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/001/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/001/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/002/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/002/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/002/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/002/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/003/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/003/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/003/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/003/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/004/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/004/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/004/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/004/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/005/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/005/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/005/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/005/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/006/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/006/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/006/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/006/graduate.txt' %}</h5>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/007/img.jpg" >
                        <h4 class="font-green bold"> {% include 'dummies/contributor/007/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/007/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/007/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/008/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/008/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/008/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/008/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/009/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/009/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/009/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/009/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/010/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/010/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/010/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/010/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/011/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/011/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/011/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/011/graduate.txt' %}</h5>
                    </div>
                    <div class="col-sm-12 col-md-2">
                        <img class="image-circle" src="/static/img/contributor/012/img.jpg">
                        <h4 class="font-green bold"> {% include 'dummies/contributor/012/name.txt' %} </h4>
                        <h5 ><yellow> {% include 'dummies/contributor/012/subject.txt' %}</yellow></h5>
                        <h5 class="bold"> {% include 'dummies/contributor/012/graduate.txt' %}</h5>
                    </div>

                </div>

          </div>
                
        </div>

        
    </div> 
   
</section>

<section id="compro">
  <div class="container">

    <div class="row text-center">

          <h4 class="section-heading">Partner Kami</h4>
          <hr class="primary">
                
    </div>

    <div class="row text-center">
        <div class="col-sm-12 col-md-12 text-center">
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/partner/idgw.png"></a>
               
            <!-- <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
       -->      <!--a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a>
            <a href="#"><img class="partner-logo col-sm-12 col-md-2" src="/static/img/logo_typo.png"></a-->
        </div>
    </div>
   </div>
</section>

</div>