<section id="recent-info">
    <div class="container ">
        <div class="row text-center  wow bounceIn">
            
          <!--img class="icon" src="static/img/new_info.png"/-->
          <h3 class="section-heading"><i class="fa fa-newspaper-o"></i> Info Terbaru</h3>
          <hr class="primary">
                
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="col-sm-12 col-md-6   wow bounceInLeft">
                    <div class="row">
                        <p>
                            <a class="new-info title" href="news-content.html">
                            <h4 class="new-info title"> {% include 'contents/judul-1.txt' %}</h4>
                            </a>
                            <a href="news-content.html">
                            <img class="img-info-large" src="static/img/contents/gambar-1.png"/>
                            </a>
                            <h5 class="new-info author ">{% include 'contents/penulis-1.txt' %}</h5>
                            
                           
                            <p class="new-info paragraph" >
                              {% include 'contents/isi-1.txt' %}
                              <a class="link-info top-margin right-margin  text-right " href="news-content.html" >  BACA LEBIH LANJUT <span class="top-padding-narrow glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            </p>
                        </p>
                    </div>
 
                </div>

                <div class="top-margin  col-sm-12 col-md-6 wow bounceInRight">
                    
                    <div class="bottom-border row">
                        <div class="col-sm-12 col-md-5">
                          
                            <a href="news-content.html">
                            <img class="img-info-large" src="static/img/contents/gambar-2.png"/>
                            </a>
                          
                        </div>
                        <div class="no-padding col-sm-12 col-md-7">
                            <a href="news-content.html">
                            <h4 class=" no-padding new-info title"> {% include 'contents/judul-2.txt' %}</h4>
                            </a>
                            <h5 class=" new-info author ">{% include 'contents/penulis-2.txt' %}</h5>
                            <p class="new-info paragraph" >
                               {% include 'contents/isi-2.txt' %}
                                <a class="link-info top-margin right-margin  text-right " href="news-content.html" >  BACA LEBIH LANJUT <span class="top-padding-narrow glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            </p>
                        </div>
                     </div>

                     <div class="bottom-border row">
                        <div class="col-sm-12 col-md-5">
                          
                            <a href="news-content.html">
                            <img class="img-info-large" src="static/img/contents/gambar-3.png"/>
                            </a>
                          
                        </div>
                        <div class="no-padding col-sm-12 col-md-7">
                            <a href="news-content.html">
                            <h4 class=" no-padding new-info title"> {% include 'contents/judul-3.txt' %}</h4>
                            </a>
                            <h5 class=" new-info author ">{% include 'contents/penulis-3.txt' %}</h5>
                            <p class="new-info paragraph" >
                               {% include 'contents/isi-3.txt' %}
                                <a class="link-info top-margin right-margin  text-right " href="news-content.html" >  BACA LEBIH LANJUT <span class="top-padding-narrow glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            </p>
                        </div>
                     </div>

                     <div class="bottom-border row">
                        <div class="col-sm-12 col-md-5">
                          
                            <a href="news-content.html">
                            <img class="img-info-large" src="static/img/contents/gambar-4.png"/>
                            </a>
                          
                        </div>
                        <div class="no-padding col-sm-12 col-md-7">
                            <a href="news-content.html">
                            <h4 class=" no-padding new-info title"> {% include 'contents/judul-4.txt' %}</h4>
                            </a>
                            <h5 class=" new-info author ">{% include 'contents/penulis-4.txt' %}</h5>
                            <p class="new-info paragraph" >
                               {% include 'contents/isi-4.txt' %}
                                <a class="link-info top-margin right-margin  text-right " href="news-content.html" > BACA LEBIH LANJUT <span class="top-padding-narrow glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
                            </p>
                        </div>
                     </div>

                     <div class="row text-right">
                               <a class="link-info-full top-margin right-margin  text-right " href="info.html" ><h4> LIHAT SELENGKAPNYA <span class="top-padding-narrow glyphicon glyphicon-chevron-right" aria-hidden="true"></span></h4> </a>
                     </div>

                </div>
                    
            </div>

        </div>
    </div> 
       

   
</section>